.markdown {
	& > p {
		font-size: 16px;
		line-height: 24px;
		color: var(--ifm-mardown-paragraph-color);
		margin-bottom: 30px;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--ifm-color-primary);
	}


	h1,
	h2 {
		margin-bottom: 40px;
	}

	h2 {
		margin-top: 70px;
	}
}