.menu {
  position: relative;
  background: #F5F5F5;
  padding: 20px 50px;
}

.menu > .menu__list {
  margin-top: 29px;
}

.menu > ul > li > a.menu__link.menu__link--sublist {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #2A2A2A;

  padding-top: 30px;
  border-top: 1px solid #E3E3E3;

  pointer-events: none;
}
.menu__link--sublist {


  &::after {
    content: none;
  }
}

.menu__link+.menu__list .menu__link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #919191;

  &:hover {
    color: #2A2A2A;
  }
}

.menu__link--active:not(.menu__link--sublist),
.menu__link--active {
  background-color: transparent;
  color: #2A2A2A !important;

  &:hover {
    color: #2A2A2A;
  }
}

.menu > ul > li > a + ul {
  margin-left: 0 !important;
}

.menu > ul > li > a + ul > li.menu__list-item {
  margin-top: 24px;
}

.menu__link + .menu__list .menu__link {
  padding: 3px;

  &:hover {
    background-color: transparent;
  }
}

.menu__list-item {
  margin-bottom: 14px;
}

// Mobile Menu
.menu .menu__button {
  position: absolute;
  top: 45px;
  bottom: auto;
  right: 50px;
  background-color: transparent;
  border: none;

  span {
    font-size: 2rem;
    color: var(--ifm-link-color);
  }

  svg {
    width: 30px;
    height: 30px;

    path {
      stroke: var(--ifm-link-color);
    }
  }
}

@media screen and (max-width: 996px) {
  .menu {
    position: fixed;
    width: 100%;
    z-index: 10;
    overflow-y: hidden;
  }

  .menu > .menu__list {
    height: 100%;
    overflow-x: auto;
  }
}