.adVersion {
  --ifm-h1-vertical-rhythm-top: 3;
  --ifm-h2-vertical-rhythm-top: 2;
  --ifm-h3-vertical-rhythm-top: 1.5;
  --ifm-heading-vertical-rhythm-top: 1.25;

  --ifm-h1-vertical-rhythm-bottom: 1.25;
  --ifm-heading-vertical-rhythm-bottom: 1;
}
.adVersion:before {
  content: '';
  display: table;
}

.adVersion:after {
  clear: both;
  content: '';
  display: table;
}
.adVersion > *:first-child {
  margin-top: 0 !important;
}

.adVersion > *:last-child {
  margin-bottom: 0 !important;
}

.adVersion > h1 {
  --ifm-h1-font-size: 3rem;

  margin-bottom: calc(var(--ifm-h1-vertical-rhythm-bottom) * var(--ifm-leading));
  margin-top: calc(var(--ifm-h1-vertical-rhythm-top) * var(--ifm-leading));
}

.adVersion > h2 {
  --ifm-h2-font-size: 2rem;

  margin-bottom: calc(var(--ifm-heading-vertical-rhythm-bottom) * var(--ifm-leading));
  margin-top: calc(var(--ifm-h2-vertical-rhythm-top) * var(--ifm-leading));
}

.adVersion > h3 {
  --ifm-h3-font-size: 1.5rem;

  margin-bottom: calc(var(--ifm-heading-vertical-rhythm-bottom) * var(--ifm-leading));
  margin-top: calc(var(--ifm-h3-vertical-rhythm-top) * var(--ifm-leading));
}

.adVersion > h4,
.adVersion > h5,
.adVersion > h6 {
  margin-bottom: calc(var(--ifm-heading-vertical-rhythm-bottom) * var(--ifm-leading));
  margin-top: calc(var(--ifm-heading-vertical-rhythm-top) * var(--ifm-leading));
}

.adVersion > pre,
.adVersion > ul,
.adVersion > p {
  margin-bottom: var(--ifm-leading);
}
