.custom-btn {
  color: var(--ifm-navbar-link-hover-color);
  border: none;
  background: none;
  font-family: inherit;
  padding: 0 6px;
  font-size: 1em;
  font-weight: bold !important;
  cursor: pointer;
  transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.custom-btn:hover {
  color: black;
  cursor: pointer;
}

.selector-btn {
  margin-bottom: 2em;
}