.footer {
  padding: 0;
  min-height: auto;
}

.footer__wrapper {
  max-width: 1330px;
  margin: 0 auto !important;
}

.footer__bottom .footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .footer__links {
  justify-content: space-between;
}

.footer .footer__col {
  width: auto;
  flex: none;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.footer__wrapper {
  padding: 25px var(--ifm-footer-padding-horizontal) !important;
}

.footer__title {
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.footer__item {
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #ffffff;
  padding-bottom: 10px;
}

.footer-custom-line {
  display: block;
  margin: 20px 0;
  width: 100%;
  height: 1px;
  background: #ffffff;
}

.footer-custom-top {
  display: flex;
  justify-content: space-between;
}

.footer-custom-socials {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-custom-social {
  &:not(:last-child) {
    margin-right: 20px;
  }

  path {
    transition: fill var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  }

  &:hover path {
    fill: var(--ifm-link-color);
  }
}

.footer-custom-bottom {
  background-color: #303636;
}

.footer-custom-copyright,
.footer-custom-link a {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.footer-custom-links {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
}

.footer-custom-link {
  &:not(:last-child) {
    margin-right: 40px;
  }

  a {
    text-decoration-line: underline;
  }

  &:hover a {
    color: inherit;
  }
}

@media screen and (max-width: 996px) {
  .footer {
    --ifm-footer-padding-vertical: 40px;
    --ifm-footer-padding-horizontal: 15px;
  }

  .footer__links,
  .footer-custom-line {
    display: none;
  }

  .footer-custom-top {
    flex-direction: column;
  }

  .footer-custom-top-logo {
    max-width: 266px;
    margin: 0 auto 30px;
  }
}

@media screen and (max-width: 670px) {
  .footer__bottom .footer__wrapper {
    flex-direction: column;
  }

  .footer-custom-copyright {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 460px) {
  .footer-custom-links {
    flex-direction: column;
  }

  .footer-custom-link {
    justify-content: center;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }
  .footer-custom-social {
    &:not(:last-child) {
      margin-right: 10px;
    }

    a svg {
      width: 32px;
    }
  }
}
