.footer {
	padding: 0;
}

.footer__wrapper {
	padding: var(--ifm-footer-padding-vertical) var(--ifm-footer-padding-horizontal) !important;
}

.footer__title {
	font-weight: 900;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
}

.footer__item {
	font-size: 16px;
	line-height: 24px;
	text-decoration-line: underline;
	color: #FFFFFF;
	padding-bottom: 10px;
}

@media screen and (max-width: 1640px) {
	.footer__wrapper {
		flex-direction: column;
	}

	.footer__links {
		margin-top: 50px;
	}
}

@media screen and (max-width: 1250px) {
  .footer__links {
		display: none;
	}

	.footer {
		min-height: 100%;
	}
}

@media screen and (max-width: 996px) {
  .footer {
		--ifm-footer-padding-vertical: 50px;
  	--ifm-footer-padding-horizontal: 50px;
	}
}

@media screen and (max-width: 360px) {
  .footer {
		--ifm-footer-padding-vertical: 50px;
  	--ifm-footer-padding-horizontal: 30px;
	}
}