.menu {
  position: relative;
  background: #F5F5F5;
  padding: 20px;
}

.menu > .menu__list {
  margin-top: 17px;
}

.menu > ul > li > a.menu__link.menu__link--sublist {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #2A2A2A;
  margin-bottom: 9px;
  padding-top: 16px;
  border-top: 1px solid #E3E3E3;

  &:hover {
    background: transparent;
  }
}

.menu__link--sublist {
  &::after {
    content: none;
  }
}

.menu__link + .menu__list .menu__link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #919191;

  &:hover {
    color: #2A2A2A;
  }
}

.menu__link--active:not(.menu__link--sublist),
.menu__link--active {
  background-color: transparent;
  color: #2A2A2A !important;

  &:hover {
    color: #2A2A2A;
  }
}

.menu > ul > li > a + ul {
  margin-left: 20px !important;
}

.menu > ul > li > a + ul > li.menu__list-item {
  margin-bottom: 20px;
}

.menu__link + .menu__list .menu__link {
  padding: 0;

  &:hover {
    background-color: transparent;
  }
}

.menu__list-item {
  margin: 0;
}

// Mobile Menu
.menu .menu__button {
  position: absolute;
  top: 45px;
  bottom: auto;
  right: 50px;
  background-color: transparent;
  border: none;

  span {
    font-size: 2rem;
    color: var(--ifm-link-color);
    font-weight: 400;
  }

  svg {
    width: 30px;
    height: 30px;

    path {
      stroke: var(--ifm-link-color);
    }
  }
}

@media screen and (max-width: 996px) {
  .menu {
    position: fixed;
    width: 100%;
    z-index: 10;
    overflow-y: hidden;
    border-bottom: 2px solid #E3E3E3;
  }

  .menu > .menu__list {
    height: 100%;
    overflow-x: auto;
  }
}

.menu__list > .menu__list-item:nth-child(1) > .menu__link.menu__link--sublist {
  padding-top: 6px;
}

.menu__list > .menu__list-item:nth-child(1) > .menu__list {
  margin-left: 0 !important;
}

@media screen and (max-width: 520px) {

  .menu {
    padding: 10px 20px;

    &.menu--show {
      padding-bottom: 80px;
    }
  }

  .menu .menu__button {
    top: 30px;
    right: 0px;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}

@media screen and (max-width: 520px) {
  .menu .menu__button {
    top: 24px;
  }
}

