/* You can override the default Infima variables here. */
:root {
  // --ifm-color-primary: #2A2A2A;
  --ifm-color-primary: #D9304F;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  --ifm-menu-color: #919191;
  --ifm-container-width: 100%;
  --doc-sidebar-width: 370px !important;
  --ifm-menu-link-padding-horizontal: 0;
  --ifm-navbar-height: 0;
  --ifm-toc-link-color: #919191;
  --ifm-toc-border-color: #E3E3E3;  
  --ifm-spacing-horizontal: 0;
  --ifm-link-color: #D9304F;
  --ifm-code-background: #F5F5F5;
  --ifm-code-font-size: 14px;
  --ifm-font-family-monospace: 'Consolas';
  --ifm-code-border-radius: 14px;
  --ifm-code-padding-vertical: 2px; 
  --ifm-code-padding-horizontal: 4px;
  --ifm-code-color: var(--ifm-color-primary);
  --ifm-mardown-paragraph-color: #747376;
  --ifm-pre-padding: 20px;
  --ifm-code-copy-color: #747376;
  --ifm-code-copy-color-hover: #F26680;
  --ifm-footer-background-color: #5D6868;
  --ifm-footer-title-color: #E3E3E3;
  --ifm-footer-link-color: #fff;
  --ifm-footer-padding-vertical: 40px;
  --ifm-footer-padding-horizontal: 15px;
  --ifm-footer-link-hover: #F26680;
  --ifm-alert-padding-vertical: 15px;
  --ifm-alert-padding-horizontal: 15px;

  font-family: 'Montserrat', sans-serif !important;
  color: #747376;
}

